/*
 * Place
 */
#place_wrapper {
	
}

#place_wrapper #place_container {
	background-color: white;
	box-shadow: 0 5px 5px rgba(50, 50, 50, 0.4);
	padding: 0.2em;
}

/* Info */
#place_wrapper #place_container .info_wrapper {
	padding: 0.8em 0;
	width: 100%;
}

#place_wrapper #place_container .info_wrapper .info_container {
	
}

/* ... Content */
#place_wrapper #place_container .info_wrapper .info_container .content {
	display: table;
	width: 100%;
	cursor: pointer;
}

#place_wrapper #place_container .info_wrapper .info_container .content.touching
	{
	background-color: #F5F4F2;
}

#place_wrapper #place_container .info_wrapper .info_container .content>*
	{
	display: table-cell;
	padding: 0 0.2em;
	vertical-align: middle;
}

#place_wrapper #place_container .info_wrapper .info_container .content .icon
	{
	width: 1px;
}

#place_wrapper #place_container .info_wrapper .info_container .content .icon img
	{
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

#place_wrapper #place_container .info_wrapper .info_container .content .name_address
	{
	width: 99%;
	background-image: url("../svg.php?svg=right&color=%23F5F4F2");
	background-position: right;
	background-repeat: no-repeat;
	font-size: 1.1em;
}

#place_wrapper #place_container .info_wrapper .info_container .content .name_address .name
	{
	line-height: 1em;
}

#place_wrapper #place_container .info_wrapper .info_container .content .name_address .address
	{
	color: #666666;
	font-size: 0.8em;
	line-height: 1em;
}
/* ... /Content */

/* ... Contact */
#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper
	{
	color: #666666;
	display: block;
	font-size: 0.8em;
	margin: auto;
	text-align: center;
	width: 100%;
	margin-top: 0.5em;
	background-color: #F5F4F2;
	padding-bottom: 0.1em;
	background-color: #F5F4F2;
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact_container
	{
	display: inline;
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact
	{
	
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item
	{
	display: inline-block;
	margin: auto;
	white-space: nowrap;
	padding: 0 0.2em;
}

/* ... ... Icon */
#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item .icon
	{
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.2em;
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item .icon img
	{
	display: block;
	height: 1em;
	vertical-align: middle;
	width: 1em;
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item[data-contact="phone"] .icon img
	{
	background-image: url("../svg.php?svg=phone&color=%23333");
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item[data-contact="email"] .icon img
	{
	background-image: url("../svg.php?svg=email&stroke=%23333&fill=white");
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item[data-contact="website"] .icon img
	{
	background-image: url("../svg.php?svg=world&color=%23333");
}
/* ... ... /Icon */
#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item .value
	{
	display: inline-block;
	vertical-align: middle;
}

#place_wrapper #place_container .info_wrapper .info_container .contact_wrapper .contact .contact_item .value a
	{
	text-decoration: underline;
	color: inherit;
}
/* ... /Contact */

/* /Info */

/* Hours */
#place_wrapper #place_container .hours_wrapper {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0.8em 0;
	width: 100%;
}

#place_wrapper #place_container .hours_wrapper .hours_container {
	display: table;
	width: 100%;
}

/* ... Icon */
#place_wrapper #place_container .hours_wrapper .hours_container .icon {
	display: table-cell;
	padding: 0.4em 0;
	vertical-align: top;
	width: 1px;
}

#place_wrapper #place_container .hours_wrapper .hours_container .icon img
	{
	display: block;
	height: 1em;
	vertical-align: middle;
	width: 1em;
	background-image: url('../svg.php?svg=clock&color=%23333');
}
/* ... Times */
#place_wrapper   #place_container   .hours_wrapper .hours_container   .times_wrapper
	{
	display: table-cell;
	vertical-align: top;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container
	{
	display: table;
	font-size: 0.8em;
	width: 100%;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container>*
	{
	display: table-row-group;
	vertical-align: top;
}

/* ... ... Row */
#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row
	{
	display: table-row;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row>*
	{
	display: table-cell;
	padding: 0.2em 0.4em;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row[data-open]
	{
	background-color: #F5F4F2;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row .day
	{
	text-align: left;
	width: 99%;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row .hour_from
	{
	text-align: right;
	width: 1px;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row .hour_to
	{
	text-align: right;
	width: 1px;
	width: 1px;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row[data-open="open"] .hour_from,#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row[data-open="open"] .hour_to
	{
	color: green;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row[data-open="closed"] .hour_from,#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row[data-open="closed"] .hour_to
	{
	color: darkred;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_row .hour_alcohol
	{
	width: 1px;
	text-align: right;
	color: #666666;
	display: none;
}

#place_wrapper #place_container .hours_wrapper[data-alcohol] .hours_container .times_wrapper .times_container .times_row .hour_alcohol
	{
	display: table-cell;
}

/* ... ... /Row */

/* ... ... Times group */
#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_group
	{
	
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_group+.times_group
	{
	background-color: #F5F4F2;
}

#place_wrapper #place_container .hours_wrapper:NOT([data-hours-more]) .hours_container .times_wrapper .times_container .times_group .times_row:nth-child(n+4)
	{
	display: none;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_group .times_row .hour_alcohol
	{
	opacity: 0.6;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_group .times_row .hour_alcohol[data-alcohol-open="true"]
	{
	color: green;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .times_group .times_row .hour_alcohol[data-alcohol-open="false"]
	{
	color: darkred;
}
/* ... ... /Times group */

/* ... ... Icon group */
#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group
	{
	font-size: 0.8em;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row
	{
	color: #AAAAAA;
	display: table-row;
	line-height: 1em;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row>*
	{
	
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row>*>img
	{
	display: block;
	height: 1em;
	margin: auto;
	width: 1em;
	background-repeat: no-repeat;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row .day
	{
	
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row .hour_from img
	{
	background: url("../svg.php?svg=clock&color=%23AAA") no-repeat scroll
		50% 50% transparent;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row .hour_to img
	{
	background: url("../svg.php?svg=clock&color=%23AAA") no-repeat scroll
		50% 50% transparent;
}

#place_wrapper #place_container .hours_wrapper .hours_container .times_wrapper .times_container .icon_group .times_row .hour_alcohol img
	{
	background: url("../svg.php?svg=drinks&color=%23AAA") no-repeat scroll
		50% 50% transparent;
}
/* ... ... /Icon group */

/* ... /Times */

/* ... More */
#place_wrapper #place_container .hours_wrapper .hours_more_wrapper {
	display: block;
	margin: auto;
	padding-top: 0.4em;
	width: 100%;
	cursor: pointer;
}

#place_wrapper #place_container .hours_wrapper .hours_more_wrapper .hours_more_container
	{
	background-color: #F5F4F2;
	font-size: 0.7em;
	padding: 0.8em 0.4em;
}

#place_wrapper #place_container .hours_wrapper .hours_more_wrapper .hours_more_container img
	{
	display: block;
	height: 1em;
	margin: auto;
	width: 1em;
	background-image: url('../svg.php?svg=double_down&color=%23333');
}

#place_wrapper #place_container .hours_wrapper[data-hours-more] .hours_more_wrapper .hours_more_container img
	{ /* transition:rotate 300ms ease 0s: */
	/* transform:rotate(180deg): */
	
}
/* ... /More */

/* /Hours */

/* Map */
#place_wrapper #place_container .map_wrapper {
	
}

#place_wrapper #place_container .map_wrapper .map_container {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	padding: 0.8em 0;
	width: 100%;
}

/* ... Streetview */
#place_wrapper #place_container .map_wrapper .map_container .streetview
	{
	display: block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#place_wrapper #place_container .map_wrapper .map_container .streetview img
	{
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	vertical-align: middle;
	width: 100%;
}
/* ... /Streetview */

/* ... Buttons */
#place_wrapper #place_container .map_wrapper .map_container .buttons {
	background-color: #F5F4F2;
	display: block;
	margin-top: 0.5em;
	padding: 0.5em 0;
	text-align: center;
	vertical-align: middle;
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button
	{
	border-left: 1px solid #DDDDDD;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-variant: small-caps;
	padding: 0 0.5em;
	min-width: 3em;
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button:FIRST-CHILD
	{
	border-left: 0;
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button.touching
	{
	background-color: white;
}

/* ... ... Icon */
#place_wrapper #place_container .map_wrapper .map_container .buttons .button img.icon
	{
	display: inline-block;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button[data-button="directions"] img.icon
	{
	background-image: url("../svg.php?svg=direction&color=%23333");
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button[data-button="map"] img.icon
	{
	background-image: url("../svg.php?svg=marker&color=%23333");
}

#place_wrapper #place_container .map_wrapper .map_container .buttons .button[data-button="google_plus"] img.icon
	{
	background-image: url("../svg.php?svg=google_plus&color=%23333");
}
/* ... ... /Icon */
#place_wrapper #place_container .map_wrapper .map_container .buttons .button .title
	{
	
}
/* ... /Buttons */

/* /Map */